{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": [
          "last 2 versions", 
          "Explorer 11"
        ]
      }
    }]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread"
  ]
}